In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files

In [ ]:
upload = files.upload()

Saving Salary_Data.csv to Salary_Data (1).csv

In [ ]:
df = pd.read_csv('Salary_Data.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Age              30 non-null     float64
 2   Salary           30 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes

In [ ]:
df.describe()

       YearsExperience        Age         Salary
count        30.000000  30.000000      30.000000
mean          5.313333  27.216667   76003.000000
std           2.837888   5.161267   27414.429785
min           1.100000  21.000000   37731.000000
25%           3.200000  23.300000   56720.750000
50%           4.700000  25.000000   65237.000000
75%           7.700000  30.750000  100544.750000
max          10.500000  38.000000  122391.000000

In [ ]:
df

    YearsExperience   Age  Salary
0               1.1  21.0   39343
1               1.3  21.5   46205
2               1.5  21.7   37731
3               2.0  22.0   43525
4               2.2  22.2   39891
5               2.9  23.0   56642
6               3.0  23.0   60150
7               3.2  23.3   54445
8               3.2  23.3   64445
9               3.7  23.6   57189
10              3.9  23.9   63218
11              4.0  24.0   55794
12              4.0  24.0   56957
13              4.1  24.0   57081
14              4.5  25.0   61111
15              4.9  25.0   67938
16              5.1  26.0   66029
17              5.3  27.0   83088
18              5.9  28.0   81363
19              6.0  29.0   93940
20              6.8  30.0   91738
21              7.1  30.0   98273
22              7.9  31.0  101302
23              8.2  32.0  113812
24              8.7  33.0  109431
25              9.0  34.0  105582
26              9.5  35.0  116969
27              9.6  36.0  112635
28             10.3  37.0  122391
29             10.5  38.0  121872

In [ ]:
def get_age_class(age):
  if age <= 25 and  age > 20:
    return 1
  elif age <= 30 and  age > 25 :
    return 2
  elif age <= 35 and  age > 30 :
    return 3
  else:
    return 4

In [ ]:
get_age_class(25)

1

In [ ]:
df.dtypes

YearsExperience    float64
Age                float64
Salary               int64
dtype: object

In [ ]:
df['Age'] = df['Age'].apply(get_age_class)

In [ ]:
df.head()

   YearsExperience  Age  Salary
0              1.1    1   39343
1              1.3    1   46205
2              1.5    1   37731
3              2.0    1   43525
4              2.2    1   39891

In [ ]:
df

    YearsExperience  Age  Salary
0               1.1    1   39343
1               1.3    1   46205
2               1.5    1   37731
3               2.0    1   43525
4               2.2    1   39891
5               2.9    1   56642
6               3.0    1   60150
7               3.2    1   54445
8               3.2    1   64445
9               3.7    1   57189
10              3.9    1   63218
11              4.0    1   55794
12              4.0    1   56957
13              4.1    1   57081
14              4.5    1   61111
15              4.9    1   67938
16              5.1    2   66029
17              5.3    2   83088
18              5.9    2   81363
19              6.0    2   93940
20              6.8    2   91738
21              7.1    2   98273
22              7.9    3  101302
23              8.2    3  113812
24              8.7    3  109431
25              9.0    3  105582
26              9.5    3  116969
27              9.6    4  112635
28             10.3    4  122391
29             10.5    4  121872

In [ ]:
g_df = df.groupby(['Age', 'Salary'])

In [ ]:
g_df.first()

            YearsExperience
Age Salary
1   37731               1.5
    39343               1.1
    39891               2.2
    43525               2.0
    46205               1.3
    54445               3.2
    55794               4.0
    56642               2.9
    56957               4.0
    57081               4.1
    57189               3.7
    60150               3.0
    61111               4.5
    63218               3.9
    64445               3.2
    67938               4.9
2   66029               5.1
    81363               5.9
    83088               5.3
    91738               6.8
    93940               6.0
    98273               7.1
3   101302              7.9
    105582              9.0
    109431              8.7
    113812              8.2
    116969              9.5
4   112635              9.6
    121872             10.5
    122391             10.3

In [ ]:
sal_by_age_grp = [[]]
df = df.reset_index() 


    #

ValueError: ignored

In [ ]:
sal_by_age_grp = [[]]
sal_by_age_grp.append([])
sal_by_age_grp.append([])
sal_by_age_grp.append([])

for index, row in df.iterrows():
    r = int(row['Age']) - 1
    sal_by_age_grp[r].append(row['Salary'])

In [ ]:
sal_by_age_grp

[[39343.0,
  46205.0,
  37731.0,
  43525.0,
  39891.0,
  56642.0,
  60150.0,
  54445.0,
  64445.0,
  57189.0,
  63218.0,
  55794.0,
  56957.0,
  57081.0,
  61111.0,
  67938.0],
 [66029.0, 83088.0, 81363.0, 93940.0, 91738.0, 98273.0],
 [101302.0, 113812.0, 109431.0, 105582.0, 116969.0],
 [112635.0, 122391.0, 121872.0]]

In [ ]:
(sal_by_age_grp[0])

[39343.0,
 46205.0,
 37731.0,
 43525.0,
 39891.0,
 56642.0,
 60150.0,
 54445.0,
 64445.0,
 57189.0,
 63218.0,
 55794.0,
 56957.0,
 57081.0,
 61111.0,
 67938.0]

In [ ]:
stats_by_age_grp = [[]]
stats_by_age_grp.append([])
stats_by_age_grp.append([])
stats_by_age_grp.append([])

In [ ]:
import statistics as st
sal_by_age_grp[i]

[39343.0,
 46205.0,
 37731.0,
 43525.0,
 39891.0,
 56642.0,
 60150.0,
 54445.0,
 64445.0,
 57189.0,
 63218.0,
 55794.0,
 56957.0,
 57081.0,
 61111.0,
 67938.0]

In [ ]:
for i in range(len(sal_by_age_grp)):
   stats_by_age_grp[i].append(np.mean(sal_by_age_grp[i]))
   stats_by_age_grp[i].append(np.median(sal_by_age_grp[i]))
   stats_by_age_grp[i].append(np.std(sal_by_age_grp[i]))
   stats_by_age_grp[i].append(np.min(sal_by_age_grp[i]))
   stats_by_age_grp[i].append(np.max(sal_by_age_grp[i]))

In [ ]:
age_gs = ['20-25','26,30','31-35','36-40']

print("Age-G\tMean\tMedian\tStd\tMin\tMax")
for i in range(len(stats_by_age_grp)):
  print(age_gs[i],'\t', end = '')
  for j in range(len(stats_by_age_grp[i])):
    print(stats_by_age_grp[i][j],end = '\t' )
  print()

Age-G	Mean	Median	Std	Min	Max
20-25 	53854.0625	53854.0625	56799.5	9233.931133790946	37731.0	67938.0
26,30 	85738.5	85738.5	87413.0	10606.655406708878	66029.0	98273.0
31-35 	109419.2	109419.2	109431.0	5601.952352528536	101302.0	116969.0
36-40 	118966.0	118966.0	121872.0	4481.7043632975165	112635.0	122391.0

In [ ]:
e

In [ ]:
import seaborn as sns

In [ ]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB