In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, date
from sklearn.preprocessing import MinMaxScaler, StandardScaler,LabelEncoder
from google.colab import files

In [ ]:
upload = files.upload()

Saving Engineering_graduate_salary.csv to Engineering_graduate_salary (2).csv

In [ ]:
df = pd.read_csv('Engineering_graduate_salary.csv')

In [ ]:
df.head()

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [ ]:
df.describe()

,ID,10percentage,12graduation,12percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,GraduationYear,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
count,2.998000e+03,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,...,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2.998000e+03
mean,6.648926e+05,77.666264,2008.080720,74.341061,5210.210807,1.924616,71.509857,5210.210807,0.296197,2011.939960,...,24.138759,16.267845,31.068379,1.946965,-0.038714,0.126217,-0.008662,-0.145965,-0.141111,3.051748e+05
std,3.648951e+05,10.002785,1.631814,11.120299,4776.609877,0.264053,8.122462,4776.609877,0.456655,36.780582,...,99.785138,86.054739,103.552963,32.241501,1.024974,0.955831,0.962695,1.012901,1.007134,2.123312e+05
min,1.124400e+04,43.000000,1998.000000,40.000000,2.000000,1.000000,6.630000,2.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-3.893300,-5.781600,-4.600900,-2.643000,-7.375700,3.500000e+04
25%,3.334648e+05,71.140000,2007.000000,66.000000,526.250000,2.000000,66.530000,526.250000,0.000000,2012.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-0.649100,-0.435300,-0.604800,-0.868200,-0.669200,1.800000e+05
50%,6.396945e+05,78.965000,2008.000000,74.000000,4027.500000,2.000000,71.800000,4027.500000,0.000000,2013.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.046400,0.212400,0.091400,-0.172700,-0.094300,3.000000e+05
75%,9.951770e+05,85.600000,2009.000000,82.600000,8822.250000,2.000000,76.300000,8822.250000,1.000000,2014.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.702700,0.812800,0.672000,0.526200,0.502400,3.700000e+05
max,1.297877e+06,97.760000,2012.000000,98.700000,18409.000000,2.000000,99.930000,18409.000000,1.000000,2017.000000,...,623.000000,660.000000,548.000000,500.000000,1.995300,1.904800,2.161700,3.352500,1.630200,4.000000e+06

In [ ]:
df.isnull().sum()

ID                       0
Gender                   0
DOB                      0
10percentage             0
10board                  0
12graduation             0
12percentage             0
12board                  0
CollegeID                0
CollegeTier              0
Degree                   0
Specialization           0
collegeGPA               0
CollegeCityID            0
CollegeCityTier          0
CollegeState             0
GraduationYear           0
English                  0
Logical                  0
Quant                    0
Domain                   0
ComputerProgramming      0
ElectronicsAndSemicon    0
ComputerScience          0
MechanicalEngg           0
ElectricalEngg           0
TelecomEngg              0
CivilEngg                0
conscientiousness        0
agreeableness            0
extraversion             0
nueroticism              0
openess_to_experience    0
Salary                   0
dtype: int64

In [ ]:
(df.values == "").sum()

0

In [ ]:
for col in df.columns:
  print(col , ' : ', (df[col] == '0').sum())

ID  :  0
Gender  :  0
DOB  :  0
10percentage  :  0
10board  :  256
12graduation  :  0
12percentage  :  0
12board  :  264
CollegeID  :  0
CollegeTier  :  0
Degree  :  0
Specialization  :  0
collegeGPA  :  0
CollegeCityID  :  0
CollegeCityTier  :  0
CollegeState  :  0
GraduationYear  :  0
English  :  0
Logical  :  0
Quant  :  0
Domain  :  0
ComputerProgramming  :  0
ElectronicsAndSemicon  :  0
ComputerScience  :  0
MechanicalEngg  :  0
ElectricalEngg  :  0
TelecomEngg  :  0
CivilEngg  :  0
conscientiousness  :  0
agreeableness  :  0
extraversion  :  0
nueroticism  :  0
openess_to_experience  :  0
Salary  :  0

In [ ]:
df['10board'] = df['10board'].replace(['0'], df['10board'].mode())
df['12board'] = df['12board'].replace(['0'], df['12board'].mode())

In [ ]:
(df['12board'] == '0').sum()

0

In [ ]:
df = df.drop(['ID', 'CollegeID', 'CollegeCityID'], axis = 1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2998 entries, 0 to 2997
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 2998 non-null   object
 1   DOB                    2998 non-null   object
 2   10percentage           2998 non-null   float64
 3   10board                2998 non-null   object
 4   12graduation           2998 non-null   int64
 5   12percentage           2998 non-null   float64
 6   12board                2998 non-null   object
 7   CollegeTier            2998 non-null   int64
 8   Degree                 2998 non-null   object
 9   Specialization         2998 non-null   object
 10  collegeGPA             2998 non-null   float64
 11  CollegeCityTier        2998 non-null   int64
 12  CollegeState           2998 non-null   object
 13  GraduationYear         2998 non-null   int64
 14  English                2998 non-null   int64
 15  Logical                2998 non-null   int64
 16  Quant                  2998 non-null   int64
 17  Domain                 2998 non-null   float64
 18  ComputerProgramming    2998 non-null   int64
 19  ElectronicsAndSemicon  2998 non-null   int64
 20  ComputerScience        2998 non-null   int64
 21  MechanicalEngg         2998 non-null   int64
 22  ElectricalEngg         2998 non-null   int64
 23  TelecomEngg            2998 non-null   int64
 24  CivilEngg              2998 non-null   int64
 25  conscientiousness      2998 non-null   float64
 26  agreeableness          2998 non-null   float64
 27  extraversion           2998 non-null   float64
 28  nueroticism            2998 non-null   float64
 29  openess_to_experience  2998 non-null   float64
 30  Salary                 2998 non-null   int64
dtypes: float64(9), int64(15), object(7)
memory usage: 726.2+ KB

In [ ]:
def get_age(DOB):
  dob = datetime.strptime(DOB, "%Y-%m-%d").date()
  today = date.today()
  return today.year - dob.year

In [ ]:
df['DOB'] = df['DOB'].apply(get_age)

In [ ]:
df['DOB']

0       33
1       33
2       34
3       32
4       33
        ..
2993    34
2994    32
2995    35
2996    35
2997    31
Name: DOB, Length: 2998, dtype: int64

In [ ]:
df['DOB'].head()

0    33
1    33
2    34
3    32
4    33
Name: DOB, dtype: int64

In [ ]:
df = df.rename(columns = {'DOB' : 'AgeInYears'})

In [ ]:
df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,f,33,87.80,cbse,2009,84.00,cbse,1,B.Tech/B.E.,instrumentation and control engineering,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,m,33,57.00,cbse,2010,64.50,cbse,2,B.Tech/B.E.,computer science & engineering,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,m,34,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,m,32,84.30,cbse,2009,86.00,cbse,1,B.Tech/B.E.,computer science & engineering,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,f,33,82.00,cbse,2008,75.00,cbse,2,B.Tech/B.E.,biotechnology,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [ ]:
columns = ["10percentage", "12percentage", 'collegeGPA', "English", "Logical", "Quant",
"Domain", "ComputerProgramming",	"ElectronicsAndSemicon",	"ComputerScience",	"MechanicalEngg",	"ElectricalEngg", "TelecomEngg",	"CivilEngg"]

scaler = MinMaxScaler()

df[columns] = scaler.fit_transform(df[columns])

In [ ]:
df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,f,33,0.818115,cbse,2009,0.749574,cbse,1,B.Tech/B.E.,instrumentation and control engineering,...,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,m,33,0.255661,cbse,2010,0.417376,cbse,2,B.Tech/B.E.,computer science & engineering,...,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,m,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,...,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,m,32,0.754200,cbse,2009,0.783646,cbse,1,B.Tech/B.E.,computer science & engineering,...,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,f,33,0.712199,cbse,2008,0.596252,cbse,2,B.Tech/B.E.,biotechnology,...,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [ ]:
df.describe()

,AgeInYears,10percentage,12graduation,12percentage,CollegeTier,collegeGPA,CollegeCityTier,GraduationYear,English,Logical,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
count,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,...,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2.998000e+03
mean,32.573382,0.633058,2008.080720,0.585027,1.924616,0.695390,0.296197,2011.939960,0.461966,0.509053,...,0.040286,0.026124,0.058412,0.005882,-0.038714,0.126217,-0.008662,-0.145965,-0.141111,3.051748e+05
std,1.751434,0.182666,1.631814,0.189443,0.264053,0.087057,0.456655,36.780582,0.151517,0.145500,...,0.159912,0.130189,0.188621,0.064354,1.024974,0.955831,0.962695,1.012901,1.007134,2.123312e+05
min,26.000000,0.000000,1998.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-3.893300,-5.781600,-4.600900,-2.643000,-7.375700,3.500000e+04
25%,31.000000,0.513879,2007.000000,0.442930,2.000000,0.642015,0.000000,2012.000000,0.352518,0.410417,...,0.000000,0.000000,0.000000,0.000000,-0.649100,-0.435300,-0.604800,-0.868200,-0.669200,1.800000e+05
50%,32.000000,0.656775,2008.000000,0.579216,2.000000,0.698499,0.000000,2013.000000,0.460432,0.516667,...,0.000000,0.000000,0.000000,0.000000,0.046400,0.212400,0.091400,-0.172700,-0.094300,3.000000e+05
75%,34.000000,0.777940,2009.000000,0.725724,2.000000,0.746731,1.000000,2014.000000,0.561151,0.616667,...,0.000000,0.000000,0.000000,0.000000,0.702700,0.812800,0.672000,0.526200,0.502400,3.700000e+05
max,42.000000,1.000000,2012.000000,1.000000,2.000000,1.000000,1.000000,2017.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.995300,1.904800,2.161700,3.352500,1.630200,4.000000e+06

In [ ]:
df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,f,33,0.818115,cbse,2009,0.749574,cbse,1,B.Tech/B.E.,instrumentation and control engineering,...,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,m,33,0.255661,cbse,2010,0.417376,cbse,2,B.Tech/B.E.,computer science & engineering,...,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,m,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,...,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,m,32,0.754200,cbse,2009,0.783646,cbse,1,B.Tech/B.E.,computer science & engineering,...,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,f,33,0.712199,cbse,2008,0.596252,cbse,2,B.Tech/B.E.,biotechnology,...,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [ ]:
df.dtypes

Gender                    object
AgeInYears                 int64
10percentage             float64
10board                   object
12graduation               int64
12percentage             float64
12board                   object
CollegeTier                int64
Degree                    object
Specialization            object
collegeGPA               float64
CollegeCityTier            int64
CollegeState              object
GraduationYear             int64
English                  float64
Logical                  float64
Quant                    float64
Domain                   float64
ComputerProgramming      float64
ElectronicsAndSemicon    float64
ComputerScience          float64
MechanicalEngg           float64
ElectricalEngg           float64
TelecomEngg              float64
CivilEngg                float64
conscientiousness        float64
agreeableness            float64
extraversion             float64
nueroticism              float64
openess_to_experience    float64
Salary                     int64
dtype: object

In [ ]:
df = df.astype({"CollegeState": str})

In [ ]:
df.dtypes

Gender                    object
AgeInYears                 int64
10percentage             float64
10board                   object
12graduation               int64
12percentage             float64
12board                   object
CollegeTier                int64
Degree                    object
Specialization            object
collegeGPA               float64
CollegeCityTier            int64
CollegeState              object
GraduationYear             int64
English                  float64
Logical                  float64
Quant                    float64
Domain                   float64
ComputerProgramming      float64
ElectronicsAndSemicon    float64
ComputerScience          float64
MechanicalEngg           float64
ElectricalEngg           float64
TelecomEngg              float64
CivilEngg                float64
conscientiousness        float64
agreeableness            float64
extraversion             float64
nueroticism              float64
openess_to_experience    float64
Salary                     int64
dtype: object

In [ ]:
df = df.astype({"Salary": float})

In [ ]:
df.dtypes

Gender                    object
AgeInYears                 int64
10percentage             float64
10board                   object
12graduation               int64
12percentage             float64
12board                   object
CollegeTier                int64
Degree                    object
Specialization            object
collegeGPA               float64
CollegeCityTier            int64
CollegeState              object
GraduationYear             int64
English                  float64
Logical                  float64
Quant                    float64
Domain                   float64
ComputerProgramming      float64
ElectronicsAndSemicon    float64
ComputerScience          float64
MechanicalEngg           float64
ElectricalEngg           float64
TelecomEngg              float64
CivilEngg                float64
conscientiousness        float64
agreeableness            float64
extraversion             float64
nueroticism              float64
openess_to_experience    float64
Salary                   float64
dtype: object

In [ ]:
df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,f,33,0.818115,cbse,2009,0.749574,cbse,1,B.Tech/B.E.,instrumentation and control engineering,...,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000.0
1,m,33,0.255661,cbse,2010,0.417376,cbse,2,B.Tech/B.E.,computer science & engineering,...,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000.0
2,m,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,...,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000.0
3,m,32,0.754200,cbse,2009,0.783646,cbse,1,B.Tech/B.E.,computer science & engineering,...,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000.0
4,f,33,0.712199,cbse,2008,0.596252,cbse,2,B.Tech/B.E.,biotechnology,...,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000.0

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,f,33,0.818115,cbse,2009,0.749574,cbse,1,B.Tech/B.E.,instrumentation and control engineering,0.720150,1,Delhi,2013,0.676259,0.783333,0.884615,0.847278,0.603727,0.598695,0.0,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000.0
1,m,33,0.255661,cbse,2010,0.417376,cbse,2,B.Tech/B.E.,computer science & engineering,0.625616,0,Uttar Pradesh,2014,0.374101,0.400000,0.115385,0.671188,0.454658,0.000000,0.0,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000.0
2,m,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,0.592819,0,Maharashtra,2011,0.438849,0.466667,0.493590,0.912374,0.000000,0.654160,0.0,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000.0
3,m,32,0.754200,cbse,2009,0.783646,cbse,1,B.Tech/B.E.,computer science & engineering,0.790675,1,Delhi,2013,0.712230,0.708333,0.660256,0.995049,0.814907,0.000000,0.0,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000.0
4,f,33,0.712199,cbse,2008,0.596252,cbse,2,B.Tech/B.E.,biotechnology,0.618114,1,Tamil Nadu,2012,0.568345,0.500000,0.314103,0.639257,0.392547,0.000000,0.0,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000.0

In [ ]:
df['Gender'].unique()

array(['f', 'm'], dtype=object)

In [ ]:
df['Gender'].replace(['m', 'f'],
                        [0, 1], inplace=True)

In [ ]:
df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,1,33,0.818115,cbse,2009,0.749574,cbse,1,B.Tech/B.E.,instrumentation and control engineering,0.720150,1,Delhi,2013,0.676259,0.783333,0.884615,0.847278,0.603727,0.598695,0.0,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000.0
1,0,33,0.255661,cbse,2010,0.417376,cbse,2,B.Tech/B.E.,computer science & engineering,0.625616,0,Uttar Pradesh,2014,0.374101,0.400000,0.115385,0.671188,0.454658,0.000000,0.0,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000.0
2,0,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,2,B.Tech/B.E.,electronics & telecommunications,0.592819,0,Maharashtra,2011,0.438849,0.466667,0.493590,0.912374,0.000000,0.654160,0.0,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000.0
3,0,32,0.754200,cbse,2009,0.783646,cbse,1,B.Tech/B.E.,computer science & engineering,0.790675,1,Delhi,2013,0.712230,0.708333,0.660256,0.995049,0.814907,0.000000,0.0,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000.0
4,1,33,0.712199,cbse,2008,0.596252,cbse,2,B.Tech/B.E.,biotechnology,0.618114,1,Tamil Nadu,2012,0.568345,0.500000,0.314103,0.639257,0.392547,0.000000,0.0,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000.0

In [ ]:
#Label Encoding

In [69]:
new_df = df
new_df['Degree'] = df["Degree"].astype('category')

In [70]:
new_df.dtypes

Gender                      int64
AgeInYears                  int64
10percentage              float64
10board                    object
12graduation                int64
12percentage              float64
12board                    object
CollegeTier                 int64
Degree                   category
Specialization             object
collegeGPA                float64
CollegeCityTier             int64
CollegeState               object
GraduationYear              int64
English                   float64
Logical                   float64
Quant                     float64
Domain                    float64
ComputerProgramming       float64
ElectronicsAndSemicon     float64
ComputerScience           float64
MechanicalEngg            float64
ElectricalEngg            float64
TelecomEngg               float64
CivilEngg                 float64
conscientiousness         float64
agreeableness             float64
extraversion              float64
nueroticism               float64
openess_to_experience     float64
Salary                    float64
dtype: object

In [71]:
new_df['Degree'] = new_df["Degree"].cat.codes

In [72]:
new_df['Degree']

0       0
1       0
2       0
3       0
4       0
       ..
2993    0
2994    0
2995    0
2996    0
2997    0
Name: Degree, Length: 2998, dtype: int8

In [73]:
new_df['Degree'].unique()

array([0, 2, 3, 1], dtype=int8)

In [74]:
new_df['Degree'].value_counts()

0    2757
3     200
2      40
1       1
Name: Degree, dtype: int64

In [75]:
df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,1,33,0.818115,cbse,2009,0.749574,cbse,1,0,instrumentation and control engineering,0.720150,1,Delhi,2013,0.676259,0.783333,0.884615,0.847278,0.603727,0.598695,0.0,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000.0
1,0,33,0.255661,cbse,2010,0.417376,cbse,2,0,computer science & engineering,0.625616,0,Uttar Pradesh,2014,0.374101,0.400000,0.115385,0.671188,0.454658,0.000000,0.0,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000.0
2,0,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,2,0,electronics & telecommunications,0.592819,0,Maharashtra,2011,0.438849,0.466667,0.493590,0.912374,0.000000,0.654160,0.0,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000.0
3,0,32,0.754200,cbse,2009,0.783646,cbse,1,0,computer science & engineering,0.790675,1,Delhi,2013,0.712230,0.708333,0.660256,0.995049,0.814907,0.000000,0.0,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000.0
4,1,33,0.712199,cbse,2008,0.596252,cbse,2,0,biotechnology,0.618114,1,Tamil Nadu,2012,0.568345,0.500000,0.314103,0.639257,0.392547,0.000000,0.0,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000.0

In [77]:
df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,1,33,0.818115,cbse,2009,0.749574,cbse,1,0,instrumentation and control engineering,0.720150,1,Delhi,2013,0.676259,0.783333,0.884615,0.847278,0.603727,0.598695,0.0,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000.0
1,0,33,0.255661,cbse,2010,0.417376,cbse,2,0,computer science & engineering,0.625616,0,Uttar Pradesh,2014,0.374101,0.400000,0.115385,0.671188,0.454658,0.000000,0.0,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000.0
2,0,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,2,0,electronics & telecommunications,0.592819,0,Maharashtra,2011,0.438849,0.466667,0.493590,0.912374,0.000000,0.654160,0.0,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000.0
3,0,32,0.754200,cbse,2009,0.783646,cbse,1,0,computer science & engineering,0.790675,1,Delhi,2013,0.712230,0.708333,0.660256,0.995049,0.814907,0.000000,0.0,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000.0
4,1,33,0.712199,cbse,2008,0.596252,cbse,2,0,biotechnology,0.618114,1,Tamil Nadu,2012,0.568345,0.500000,0.314103,0.639257,0.392547,0.000000,0.0,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000.0

In [ ]:
# One Hot Encoding

In [78]:
df['CollegeTier'].unique()

array([1, 2])

In [79]:
pd.get_dummies(new_df, columns=["CollegeTier"]).head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary,CollegeTier_1,CollegeTier_2
0,1,33,0.818115,cbse,2009,0.749574,cbse,0,instrumentation and control engineering,0.720150,1,Delhi,2013,0.676259,0.783333,0.884615,0.847278,0.603727,0.598695,0.0,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000.0,1,0
1,0,33,0.255661,cbse,2010,0.417376,cbse,0,computer science & engineering,0.625616,0,Uttar Pradesh,2014,0.374101,0.400000,0.115385,0.671188,0.454658,0.000000,0.0,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000.0,0,1
2,0,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,0,electronics & telecommunications,0.592819,0,Maharashtra,2011,0.438849,0.466667,0.493590,0.912374,0.000000,0.654160,0.0,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000.0,0,1
3,0,32,0.754200,cbse,2009,0.783646,cbse,0,computer science & engineering,0.790675,1,Delhi,2013,0.712230,0.708333,0.660256,0.995049,0.814907,0.000000,0.0,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000.0,1,0
4,1,33,0.712199,cbse,2008,0.596252,cbse,0,biotechnology,0.618114,1,Tamil Nadu,2012,0.568345,0.500000,0.314103,0.639257,0.392547,0.000000,0.0,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000.0,0,1

In [80]:
# USING SCI-Kit learn

#OrdinalEncoder

In [81]:
from sklearn.preprocessing import OrdinalEncoder

In [82]:
ord_enc = OrdinalEncoder()

In [85]:
new_df["Specialization"] = ord_enc.fit_transform(new_df[["Specialization"]])

In [86]:
new_df.head()

,Gender,AgeInYears,10percentage,10board,12graduation,12percentage,12board,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,1,33,0.818115,cbse,2009,0.749574,cbse,1,0,33.0,0.720150,1,Delhi,2013,0.676259,0.783333,0.884615,0.847278,0.603727,0.598695,0.0,0.0,0.0,0.00000,0.0,-0.1590,0.3789,1.2396,0.14590,0.2889,445000.0
1,0,33,0.255661,cbse,2010,0.417376,cbse,2,0,12.0,0.625616,0,Uttar Pradesh,2014,0.374101,0.400000,0.115385,0.671188,0.454658,0.000000,0.0,0.0,0.0,0.00000,0.0,1.1336,0.0459,1.2396,0.52620,-0.2859,110000.0
2,0,34,0.626917,"maharashtra state board,pune",2007,0.769506,amravati divisional board,2,0,19.0,0.592819,0,Maharashtra,2011,0.438849,0.466667,0.493590,0.912374,0.000000,0.654160,0.0,0.0,0.0,0.47541,0.0,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000.0
3,0,32,0.754200,cbse,2009,0.783646,cbse,1,0,12.0,0.790675,1,Delhi,2013,0.712230,0.708333,0.660256,0.995049,0.814907,0.000000,0.0,0.0,0.0,0.00000,0.0,-0.4463,0.2124,0.3174,0.27270,0.4805,420000.0
4,1,33,0.712199,cbse,2008,0.596252,cbse,2,0,4.0,0.618114,1,Tamil Nadu,2012,0.568345,0.500000,0.314103,0.639257,0.392547,0.000000,0.0,0.0,0.0,0.00000,0.0,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000.0

In [89]:
#OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [91]:

oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(new_df[["body_style"]])

In [92]:
pd.DataFrame(oe_results.toarray(), columns=oe_style.categories_).head()

     1    2
0  1.0  0.0
1  0.0  1.0
2  0.0  1.0
3  1.0  0.0
4  0.0  1.0